%h1.headerone Listing books

%table
  %thead
    %tr
      %th Isbn
      %th Bookname
      %th Bookedition
      %th Bookyear
      %th Bookaction
      %th.detailslink
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.isbn
        %td= book.book_Name
        %td= book.bookEdition
        %td= book.bookYear
        %td= book.bookAction
        %td.detailslink= link_to 'Details', book
        %td= link_to 'Delete', book, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=form_tag({controller: "books", action: "searchbook"}, :method => :get) do
  .search_field
    %p
      Search Using ISBN:
    =text_field_tag :q
    =button_tag 'Go' , class: 'search-button' , type: :submit
%br

= link_to 'New Book', new_book_path
