%h1 Book you are looking for is
= link_to image_tag(@searchedbook.image.url), @searchedbook.image.url

%p
  %b Isbn:
  = @searchedbook.isbn
%p
  %b Bookname:
  = @searchedbook.book_Name
%p
  %b Authname:
  = @searchedbook.authName
%p
  %b Bookedition:
  = @searchedbook.bookEdition
%p
  %b Bookyear:
  = @searchedbook.bookYear
%p
  %b Bookaction:
  = @searchedbook.bookAction
%p
  %b Coursenumber:
  = @searchedbook.course_number

= link_to 'Back', books_path
