= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :coursename
    = f.text_field :coursename
  .field
    = f.label :course_number
    = f.text_field :course_number
  .field
    = f.label :coursesection
    = f.text_field :coursesection
  .actions
    = f.submit 'Save'
