%h1.headerone Listing courses

%table
  %thead
    %tr
      %th Coursename
      %th Coursenumber
      %th Coursesection
      %th
      %th
      %th

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.coursename
        %td= course.course_number
        %td= course.coursesection
        %td.detailslink= button_to "Details", course, :method => "get"
        %td= button_to "Delete", course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= button_to 'New Course', new_course_path, :method => "get"
