%p#notice= notice

%p
  %b Coursename:
  = @course.coursename
%p
  %b Coursenumber:
  = @course.course_number
%p
  - @booksforcourses.each do |booksforcourse|
    %b Bookused:
    = booksforcourse.book_Name
%p
  - @booksforcourses.each do |booksforcourse|
    %b Authname:
    = booksforcourse.authName

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
